.bg-Banner {
    background-position: 0px 0px, 50% 50%;
    background-image: linear-gradient(180deg, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)), url(/bg-Banner.jpg);
}
.btnIntroduce {
    border-bottom: 2px solid rgba(162, 95, 75, 0.2);
    transition: color 400ms ease, border-color 400ms ease;
}
.imgProduct {
    &:hover {
        .btnProducts {
            opacity: 1;
            bottom: 20px;
            visibility: visible !important;
        }
    }
}
.mtStory {
    margin-top: -100px !important;
}
.textHeader {
    &:hover {
        opacity: 1 !important;
        .lineHeader {
            visibility: visible;
            animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: unset;
            @keyframes example {
                from {
                    width: 0%;
                }
                to {
                    width: 100%;
                }
            }
        }
    }
}
.hoverCart {
    &:hover {
        .hoverCartItem {
            opacity: 1;
        }
    }
}
.onCart {
    transform: translateX(0);
}
